<div class="container">
 <% if @error %>
    <%= @error %>
  <% else %>
    <% @recent_tweets.each do|tweet|  %>
      <div class="tweet_container">
        <div id="tweet_pic">
          <img src="<%= tweet.user.profile_image_url %>">
        </div>
        <div id="tweet_username">@<%= tweet.user.username %>
        </div>
        <div id="tweet_body"><%= tweet.text %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="input_container">


  <form action="/tweet" method="post">
    <textarea name="tweet" id="" cols="30" rows="5"></textarea><br>
    <label for="timer">How many seconds from now do you want your tweet to post?</label><br>
    <input type="number" name="seconds" value="0" placeholder="Enter Seconds Here">
    <input id="tweet_submit_button" type="submit" value="Tweet">
  </form>
</div>


